/* GENERAL */
body {
    background-color: rgb(92, 131, 175);
    color: rgb(255, 175, 2) !important;
    font-family: 'Sorts Mill Goudy', serif !important;
    font-size: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: darkorange !important;
    margin-bottom: 60px !important;
}

li {
    list-style: none;
    text-align: left;
}


/* ARRAY */
table {
    border-collapse: collapse;
    background-color: rgba(102, 42, 15, 0.274);
    margin: auto;


}

td.cell {
    text-align: center;
    border: 1px solid #ff91009a;
    font-size: 90%;
    width: 70px;
    height: 70px;
}
td.cell.selectable-cell {
    background-color: rgba(255, 166, 0, 0.322);
}


/* CUSTOM CELLS */

td.greycell {
    background-color: #000000e3;
}

td.weapon {
    background-color: #ff9900ce;
    color: rgb(0, 0, 0);
}

td.player {
    background-color: rgba(190, 190, 190, 0.589);
    color: rgb(0, 0, 0);
}



