/* GENERAL */
body {
    background-color: rgba(48, 48, 48, 0.781);
    color: rgb(255, 175, 2) !important;
    font-family: 'Sorts Mill Goudy', serif !important;
    font-size: 15px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: darkorange !important;
    margin-bottom: 60px !important;
}

li {
    list-style: none;
    text-align: left;
}


/* ARRAY */
table {
    border-collapse: collapse;
    background-color: rgba(15, 6, 1, 0.274);
    margin: auto;
}

td.cell {
    text-align: center;
    border: 1px solid #ff91009a;
    font-size: 90%;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
td.cell.selectable-cell {
    background-color: rgba(216, 147, 56, 0.13);
    border-radius: 0;
}
td.cell.selectable-cell:hover {
    background-color: rgba(121, 121, 121, 0)
}


/* CUSTOM CELLS */

td.greycell {
    background-color: #00000085;
    border-radius: 0;
}

td.weapon {
    background-color: #ff9900ce;
}

td.player1 {
    background-color: rgba(214, 156, 32, 0.507);
    padding: -4px -4px;
}
td.player2 {
    background-color: rgba(202, 201, 200, 0.534);
}

.active {
    border: 1px solid red;
}


