/* GENERAL */
body {
   background-color: #244155 !important;
   color: darkorange;
   font-size: 10px;
}
h1 {
   text-align: center;
   color: darkorange !important;
   margin-bottom: 60px !important;
}


/* ARRAY */
table {
   border-collapse: collapse;
   margin: auto;
   box-shadow: 1px 2px 5px #ffd413 !important;
}

td.cell {
   text-align: center;
   border: 1px solid #835a0f;
   width: 60px;
   height: 60px;
}


/* CUSTOM CELLS */

td.greycell {
   background-color: #ebe2e26c;
}

td.weapon {
   background-color: #a6a6dd;
   color: black;
}

td.player {
   background-color: #86cc96;
   color: black;
}
