/* GENERAL */
body {
    background: url(/assets/img/wall.jpg) no-repeat center;
    background-size: cover;
    color: rgb(255, 175, 2) !important;
    font-family: 'Sorts Mill Goudy', serif !important;
    font-size: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: darkorange !important;
    margin-bottom: 60px !important;
}

li {
    list-style: none;
    text-align: left;
}


/* ARRAY */
table {
    border-collapse: collapse;
    background-color: rgba(2, 0, 0, 0.384);
    margin: auto;
    box-shadow: 0 1px 25px #fd98007a !important;

}

td.cell {
    text-align: center;
    border: 1px solid #ff9900;
    font-size: 90%;
    width: 70px;
    height: 70px;
}


/* CUSTOM CELLS */

td.greycell {
    background-color: #270909b2;
}

td.weapon {
    background-color: #ff9900ce;
    color: rgb(0, 0, 0);
}

td.player {
    /* background-color: rgba(248, 242, 242, 0.644); */
    background-image: url(/assets/img/casque-vert.png);
    color: rgb(0, 0, 0);
}



/* Bootstrap */

.card {
    background-color: rgba(0, 0, 0, 0.301) !important;
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #ff8800, 0 0 0 1px #ffa600;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgb(255, 136, 0);
    font-weight: normal;
    font-size: 18px;
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(243, 243, 243, 0.4) !important;
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: rgba(255, 255, 255, 0.062) !important;
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.progress {
    background-color: rgba(255, 255, 255, 0.185) !important;
}

.bg-custom {
    background-color: red !important;
}
