/* GENERAL */
body {
   background-color: rgb(209, 209, 209);
}
h1 {
   text-align: center;
   color: blue;
}

h2 {
   text-align: center;
   text-decoration: underline;
   padding: 20px 20px;
}

/* ARRAY */
table {
   border-collapse: collapse;
   margin: auto;
   box-shadow: 1px 2px 2px lightgray;
}

td.cell {
   text-align: center;
   border: 1px solid black;
   width: 50px;
   height: 50px;
}

/* CUSTOM CELLS */
td.cellJ1 {
   color: #ff0000;
   background-color: rgb(255, 172, 172);
}

td.cellJ2 {
   color: green;
   background-color: rgb(145, 199, 145);
}

td.cellGr {
   background-color: rgb(163, 161, 161);
}

td.cellWP {
   background-color: rgb(109, 109, 253);
   color: black;
}

td.cellPP {
   background-color: rgb(69, 163, 89);
   color: black;
}
