/* GENERAL */

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #000000c0 !important;
    color: rgb(255, 175, 2) !important;
    font-family: 'Sorts Mill Goudy', serif !important;
    font-size: 12px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #ff8c00 !important;
    margin-bottom: 60px !important;
}

ul {
    margin-bottom: 0 !important;
}

li {
    list-style: none;
    text-align: left;
    border-bottom: 1px solid rgba(248, 248, 248, 0.466);
    padding: 10px;
}


/* ARRAY */

table {
    border-collapse: collapse;
    background-color: #0f060131;
    margin: auto;
}

td.cell {
    text-align: center;
    border: 1px solid #ff91009a;
    font-size: 90%;
    width: 65px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
}

td.greycell {
    background-color: #00000085;
    border-radius: 0;
}

/* Selectable-cell & hover */

td.cell.selectable-cell {
    background-color: rgba(245, 161, 50, 0.199);
    border-radius: 0;
}

td.cell.selectable-cell:hover {
    background-color: rgba(121, 121, 121, 0)
}


/* Bootstrap */

.card {
    background-color: rgba(0, 0, 0, 0.411) !important;
    width: 100%;
    height: auto;
    font-size: 1em;
    overflow: hidden;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0.4px #ffa600;
    opacity: 0.6;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

h4 {
    border-bottom: 2px solid rgba(248, 248, 248, 0.466);
    padding-bottom: 10px;
}

.card-title {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgb(255, 136, 0);
    font-weight: normal;
    font-size: 14px;
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 1em 1em !important;
    color: rgba(243, 243, 243, 0.4) !important;
    border-top: none !;
}

.profile-avatar {
    display: block;
    width: 20%;
    height: auto;
    border-radius: 50%;
    border: 1px solid rgba(201, 201, 201, 0.315);
}

.active-player {
    background-color: rgb(0, 0, 0) !important;
    font-weight: bolder !important;
    box-shadow: 0 0 0 1px #ffa600;
    opacity: 1;
}


/* Custom Bootstrap buttons */

.btn-outline-danger:hover {
    background-color: rgba(255, 5, 5, 0.815) !important;
    color: azure;
}

.btn-outline-success:hover {
    background-color: rgba(47, 255, 5, 0.685) !important;
    color: azure;
}

.btn-outline-warning {
    color: rgba(240, 255, 255, 0.733) !important;
}

.btn-outline-warning:hover {
    background-color: #ff8c009c !important;
    color: azure;
    font-weight: bold !important;
}

.bg-custom {
    background-color: red !important;
}

.fa {
    color: rgba(255, 255, 255, 0.589);
    padding-right: 5px;
}

.fab {
    color: rgba(255, 255, 255, 0.589);
    padding-right: 5px;
}


/* Custom Card Game */

.player-health {
    color: rgb(43, 255, 0) !important;
    font-size: 20px;
    font-weight: bold;
    text-align: center !important;
}

.progress-bar-striped {
    color: transparent !important;
}

.card-weapon {
    text-align: center;
    width: 100%;
    margin: 20px 0;
    max-width: 90%;
}

.card-weapon img {
    max-width: 50%;
    height: auto;
}

.weapon-damages {
    font-size: 30px;
    font-style: italic;
    color: red;
}
